.images .box1{
    position: absolute;
    top: 200px;
    right:150px;
    background: url(../../../public/download.jpg) no-repeat 50% 50%;
    background-size: cover; 
    width: 250px;
    border: .5px solid  gray;
    height: 350px;
    z-index: 999;
}

.images .box2{
    position: absolute;
    top: 250px;
    right: 410px;
    background: url(../../../public/img2.jpg) no-repeat 50% 50%;
    background-size: cover; 
    width: 350px;
    border: .5px solid  gray;
    height: 450px;
}


.images .box3{
    position: absolute;
    top: 530px;
    right: 250px;
    background: url(../../../public/img1.jpg) no-repeat 50% 50%;
    background-size: cover; 
    width: 350px;
    border: .5px solid  gray;
    height: 200px;
}